html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(83, 84, 87);
}

.button-container {
  
  border: 2px solid black;
  padding: 10px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
  border-radius: 10%;
}

button {
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-size: 25px;
  border-radius: 10%;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 5px black;
  background: linear-gradient(to top, #555555, #949494);
  border: 2px solid black;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
  background: linear-gradient(to bottom, #555555, #949494);
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
}